.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

/* 
header 
*/
.header{
    grid-area: header;
    background-color: #7477bf;
    display: flex;
    justify-content:start;
    align-items: center;
    margin: 10 0 0;
}

.header h1 {
    flex-grow: 3;
    padding-left: 10px;
    font-size: 1.35em; /* 16 x 1.35 = 21*/
    color: white;
}
.header svg{
    height: 25px;
    fill: white;
    padding-right: 10px;
}

.notifications {
    height: 36px;
    border-right: 1px solid #a7a9bf;
    color: #90ee90;
}

.header img{
    height: 36px;
    border-radius: 50%;
    padding-left: 10px;

}

.header h3{
    flex-grow: 2;
    padding-left: 10px;
    font-size: .6em; /* 16 x .6 = 8*/
    color: white;
    font-weight: normal;
}


/* 
Navigation 
*/
.navigation{
    grid-area: navigation;
    display: flex;
    justify-content: center;
    background-color: #4d4c72;
}

.navigation svg {
    height: 30px;
    padding: 10px 5px;
    fill: white;
}


/* 
Main
*/

.main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
}

    /* main header */

    .main-header {
        order: 1;
        flex-grow: 1fr;
        display: flex;
        height: 50px;
        align-items: center;
    }
    .main-header h2 {
        font-size: .94em; /*16 / 15 = .94em*/
        padding:0 10px;
    }

    .main-header-search {
        flex-grow: 2;
        height: 49px;
        border-bottom: 1px solid #a7a9bf;
        border-left: 1px solid #a7a9bf;
        padding: 0;
        margin: 0;
    }
    .main-header-search input {
        border: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .main-header-search input::placeholder {
        color: white;
    }


    /* alert banner */

    .alert-banner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #7477bf;
        border-radius: 8px;
        margin: 10px 10px;
    }

    .alert-banner p {
        flex-grow: 2;
        font-size: .75em; /* 16/12 = .75*/
        color: white;
        padding-left: 10px;
    }

    .alert-banner-close {
        padding-right: 10px;
        color: white;
        font-weight: bolder;
    }


    /* traffic */

    .traffic {
        display: flex;
        flex-direction: column;
    }

    .traffic-header h3{
        font-size: .66em; /*16/10=.66em*/
        text-transform: uppercase;
        padding-left: 10px;   
    }

    .traffic-nav {
        display: flex;
        justify-content: center;
        align-content: center;
        padding:0 10px;
    }

    .traffic-nav-link{
        padding:5px 10px;
        list-style: none;
    }

    .traffic-nav-link:hover {
        background-color: #81c98f;
        border-radius: 50px;
    }

    .widget-container-full{
        padding: 0 10px 10px;
        border-bottom: 1px solid #a7a9bf;
        
    }


    /* daily traffic & mobile */

    .daily,
    .mobile {
        display: flex;
        flex-direction: column;
    }

    .daily h3,
    .mobile h3{
        font-size: .66em; /*16/10=.66em*/
        text-transform: uppercase;
        padding-left: 10px;   
    }

    .widget-container-half{
        padding: 0 10px 10px;
        border-bottom: 1px solid #a7a9bf;
    }

    .widget-container-full,
    .widget-container-half {
        width: 93vw;
    }


    /* social containers */

    .social-container {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        align-content: center;
        border-bottom: 1px solid #a7a9bf;
        padding-bottom: 5px;
    }

    .social-container h3 {
        font-size: .66em;
        padding-left: 10px;
        text-transform: uppercase;
    }

    .soc-cont {
        flex-grow: 1;
        display: flex;
        margin: 5px 10px;
        border-radius: 8px;
        border: 2px solid #dedede;
        background:#f5f5f5 ;
        height: 86px;
    }

    .social-image{
        height: 30px;
            background: #7477bf;
            border: 15px solid #7477bf;
            border-radius: 50%;
            align-self: center;
            margin-left: 10px ;
        }

    .soc-cont svg{
        fill: white;
        height: 30px;
        align-self: center;
        justify-self: center;
        padding: 0;
        margin: 0;
    }

    .social-text {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .fp {
        flex-grow: 1fr;
        padding:10px 0 0;
        margin: 0;
        color: #7477bf;
        font-size: .85em;
    }

    .sp{
        flex-grow: 3fr;
        padding: 0;
        margin: 0;
        font-size: 2.125em;
        color: #777;
    }


    /* members info / members chat */

    .members,
    .activity {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #a7a9bf;
    }

    .members h3,
    .activity h3{
        font-size: .66em;
        padding-left: 10px;
        text-transform: uppercase;
    }

    .person {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        padding: 5px 0;
        margin: 0 10px;
        border-bottom: 1px solid #a7a9bf;
    }

    .person img{
        height: 61px;
        width: 61px;
        border-radius: 50%;
    }

    .person p,
    .ml {
        font-size: .65em;
        padding: 0;
        margin: 0;
    }

    .arrow {
        display: none;
    }
    .last {
        border-bottom: none;
    }


    /* message */

    .message {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #a7a9bf;
    }

    .message h3 {
        font-size: .66em;
        padding-left: 10px;
        text-transform: uppercase;
    }

    .widget-container {
        display: flex;
        flex-direction: column;
        padding:0 10px 10px;
    }

    .widget-container input{
        height: 42px;
        background: #dedede;
        border: 1px solid #a7a9bf;
        margin: 5px 0;
        border-radius: 8px;
    }
    .widget-container textarea{
        height: 126px;
        background: #dedede;
        border: 1px solid #a7a9bf;
        margin: 5px 0;
        border-radius: 8px;
    }

    .widget-container button{
        height: 42px;
        background: #7477bf;
        border: 1px solid #a7a9bf;
        margin: 5px 0;
        border-radius: 8px;
        color: white;
    }


    /* settings */
    .settings {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 5;
        grid-gap: 5px;

    }

    .settings h3{
        font-size: .66em;
        padding-left: 10px;
        text-transform: uppercase;
    }
    
    .set-select {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: center; */
        padding: 0 10px;
    }

    .switches{
        display: flex;
        flex-direction: column;
    }
    .sw-1,
    .sw-2 {
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: start; */
        /* align-items: center; */
        /* height: 40px; */
    }
    .sw-1,
    .sw-2 strong{

    }

    .alert-light {
        background: #7477bf;
        border-radius: 50px;
        border: 2px solid #a7a9bf;
        width: 92px;
    }
    .alert-light span{
        color: white;
    }



    .tmz {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    
    .form-filed {
        flex-grow: 4;
    }

    .settings-button {
        display: flex;
        justify-content: space-around;
    }

    .button-primary,
    .button-disabled {
        width: auto;
        padding: 5px;
    }

    





@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr ;
        grid-template-areas: 
        "header header"
        "navigation main";
    }

    .header{
        background-color: aqua;
    }

    .navigation{
        background-color: blueviolet;
    }

    .main{
        background-color: burlywood;
    }

    .traffic, 
    .soical{
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }
    
    .widget-container-half {
    width: 45vw;
}

}